.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  background-color: #222;
  color: white;
  margin: 0;
  padding: 16px;
}

.App-body {
  display: flex;
}

.App-menu {
  width: 200px;
}
