.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  background-color: #222;
  color: white;
  margin: 0;
  padding: 16px;
}

.App-header {
  height: 60px;
}

.App-body {
  display: flex;
}

.App-menu {
  width: 25vw;
}

.App-map {
  width: 75vw;
}

.App-map-small {
  width: 50vw;
}

.App-close-drawer {
  float: right;
}

.App-menu-places-card {
  cursor: pointer;
}

.App-flickr-attribution {
  font-size: 10px;
}

.App-menu-places-card-not-selected {
  filter: grayscale(100%) opacity(75%);
}

.App-menu-places-card-selected {
  filter: brightness(110%);
}

.App-location-information-list-item-image:focus {
  filter: brightness(150%) ;
}

.App-menu-places-card-has-focus {
  filter: brightness(150%) ;
}

.App-menu-places {
  height: 80vh;
  overflow: scroll;
}

.App-placecard-title {
  font-weight: normal;
  margin: 4px;
}

.App-drawer-small {
  display: none;
}

.App-drawer-big {
  display: inherit;
}

.App-location-information{
    overflow: hidden;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

  .App-location-information{
      overflow: scroll;
  }

  .App-location-information .App-location-information-list{
    flex-direction: row;
    flex-wrap: inherit;
  }

  .App-location-information-title {
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    color: white;
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  .App-location-information-list-item {
    /* We need !important because element.style is applied
    by material-ui component. This is the easiest way to overide it */
    width: 50% !important;
  }

  .App-body {
    flex-direction: column;
  }

  .App-menu {
    width: inherit;
  }

  .App-map {
    width: 100vw;
    height: 65vh;
  }

  .App-placecard-title {
    font-size: small;
    font-weight: lighter;
  }

  .App-map-small {
    width: 100vw;
    height: 40vh;
  }

  .App-menu-places {
    display: flex;
    flex-direction: row;
    height: inherit;
  }

  .App-place-card {
    width: 200px;
  }

  .App-drawer-big {
    display: none;
  }

  .App-drawer-small {
    display: inherit;
  }

}
